
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>啦啦啦，写下我们的回忆！</legend>
    <div class="control-group">
      <label class="control-label" for="input01">萌萌的标题</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" name = "title">
      </div>
    </div>
    <div class="control-group">
      <div class="control-group">
            <label class="control-label" for="select01">这是谁写的</label>
            <div class="controls">
              <select id="select01" name = "user">
                <option>臭臭</option>
                <option>七七</option>
              </select>
            </div>
          </div>

    <div class="control-group">
      <label class="control-label" for="textarea">文本域</label>
      <div class="controls">
        <textarea class="input-xlarge" id="textarea" rows="10" cols = "100" name = "post"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" href = "/">submit</button>
      <button class="btn">取消</button>
    </div>
  </fieldset>
</form>
